
name: CI unit and integration tests

on:

  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        run: mvn clean test

#   unit-tests-customer:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=CustomerServiceTest  --file pom.xml

#   integration-tests-customer:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=CustomerControllerTest

#   unit-tests-order:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=OrderServiceTest

#   integration-tests-order:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=OrderControllerTest

#   unit-tests-product:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=ProductServiceTest

#   integration-tests-product:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn test -Dtest=ProductControllerTest

#   utils-tests:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Setup Java JDK
#         uses: actions/setup-java@v1
#         with:
#           java-version: 11
#       - name: run tests
#         run: mvn clean test -Dtest="**/service/**/*.java"
